.text-custom {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin-top {
  margin-top: 5rem;
}

.main-title {
  color: #e0040b;
}

.mobile-nav {
  display: none;
}

.nav-btn,
.advertisement-btn {
  padding: 8px 25px;
  border: 3px solid #e0040b;
  background-color: #dd1e4b;
  border-radius: 3px;
}

.divider {
  height: 7rem;
  width: 5px;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  margin-top: 6rem;
}

.nav-btn:hover {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  transition: 0.7s ease-in-out;
}

.nav-link {
  cursor: pointer;
}

.main-link:hover > .dropdown {
  display: block;
}

.main-link:hover > .child-dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  margin-left: -20px;
  display: none;
  background-color: white;
  list-style: none;
}

.child-dropdown {
  position: absolute;
  margin-top: -40px;
  margin-left: 150px;
  display: none;
  background-color: white;
  list-style: none;
}

.dropdown-item {
  color: #838482;
}

.dropdown-item:hover {
  color: #e0040b;
  background-color: transparent;
}

.mobile-main-menu {
  background-color: #191919;
}

section {
  padding: 0rem 3.5rem;
}

.navbar {
  z-index: 9999;
}

.main-content {
  padding-top: 10rem;
}

.main-image {
  background-image: url("../images/bg-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 535px;
  width: 100%;
  background-position: center;
}
.main-color {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 96px;
  line-height: 115.2px;
  font-weight: 900;
}

.breadcrumb-item > a,
.breadcrumb-item > span {
  font-family: sans-serif;
  color: #8e8e8e;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #8e8e8e;
}

.main-menu {
  margin-left: 16rem;
}

.breadcrumb {
  margin-top: 2rem;
}

.section-header-animation {
  height: 7px;
  width: 4rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}

.content-section {
  margin-top: 7rem;
}

.content-description,
.content-section > ul > li {
  font-size: 18px;
  margin-bottom: 2rem;
  line-height: 24px;
  color: #6f6f6f;
  font-weight: 400;
}

.content-title {
  font-size: 48px;
  line-height: 56.6px;
  font-weight: 600;
}

#nav {
  background-color: transparent;
  position: absolute;
  z-index: 0;
  width: 100%;
}

.list-group-item {
  padding: 2rem 0rem;
  font-size: 19.2px;
  line-height: 23.4px;
  font-weight: 600;
}

ul {
  margin-left: -1rem;
}

.card {
  border-radius: 0px;
  border: none;
  width: 18rem;
  height: 330px;
  text-align: center;
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  background-color: #e5e5e5;
}

.card:hover {
  background: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  color: white;
}

.card:hover .star {
  color: white;
}

.card-text {
  margin-top: 2rem;
}

.employee {
  width: 100%;
  max-width: 100px;
  border-radius: 100%;
}

.star {
  color: #e0040b;
  margin: 0.5rem 0rem 2rem 0rem;
}

.content-second-section {
  margin-left: 5rem;
}

.testimonials {
  padding: 2rem 0rem;
}

.testimonials-heading {
  margin-top: 2rem;
  font-size: 48px;
  line-height: 57.6px;
  color: white;
  font-weight: 600;
}

.slider-header-discription {
  color: #8e8e8e;
  margin-top: 1.5rem;
  font-size: 18px;
  line-height: 24px;
}

.fanfact-counts {
  margin: 5rem 0rem;
}

.fanfact-counts > div {
  transition: 0.7s ease-in;
}

.institutional-section {
  padding: 10rem 0rem;
}

.institutional {
  overflow: hidden;
  background-image: url("../images/about-5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 555px;
  width: 555px;
}

.play-icon{
  margin-top: 24rem;
  margin-left: 23rem;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  background-color: #e0040b;
}

.play-icon-background{
  height: 40rem;
  margin-top: 15rem;
  margin-left: 13rem;
  width: 40rem;
  background-color: #dd1e4b; 
  opacity: 0.3; 
  border-radius: 50%;
}

.institutional-section-second-part{
  padding: 2rem 4rem;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
    margin: 0%;
  }

  .advertisement {
    margin: 5rem 2rem;
  }

  .desktop-nav {
    display: none;
  }

  .main-image {
    height: 270px;
  }

  .main-color {
    font-size: 64px;
  }

  .main-content {
    padding: 3rem;
  }

  .breadcrumb {
    margin-top: 0.5rem;
  }

  .divider {
    margin-top: -3.8rem;
    height: 6rem;
  }

  .section-header-animation {
    display: none;
  }

  .content-second-section,
  .content-section {
    margin: 0rem 1rem;
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  .section-header-animation {
    display: none;
  }

  .main-image {
    width: 100%;
  }

  .content-section {
    margin: 2.5rem 0.3rem;
  }

  .card {
    width: 25rem;
  }

  .main-color {
    font-size: 56px;
  }

  .divider {
    height: 5rem;
  }

  .content-second-section {
    margin: 0rem 0.3rem;
  }
}

@media (max-width: 1024px) {
  .nav-link {
    margin: 0%;
  }

  ul {
    margin: 0%;
  }

  .card {
    width: 14rem;
    padding: 1.5rem 0.2rem;
  }

  section {
    padding: 0%;
  }

  .nav-link i,
  .social-icons {
    display: none;
  }

  .main-menu {
    justify-content: center;
  }

  .main-menu > div > button {
    margin-left: 10px;
  }

  br {
    display: none;
  }
}

@media (max-width: 1044px) {
  .main-menu {
    margin-left: 5rem;
  }
}
