.text-custom {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin-top {
  margin-top: 5rem;
}

.main-title {
  color: #e0040b;
}

.nav-btn,
.advertisement-btn {
  padding: 8px 25px;
  border: 3px solid #e0040b;
  background-color: #dd1e4b;
  border-radius: 3px;
}

.divider {
  height: 7rem;
  width: 5px;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  margin-top: 6rem;
}

section {
  padding: 0rem 3.5rem;
}

.navbar {
  z-index: 9999;
}

.main-content {
  position: relative;
  padding-top: 10rem;
}

.main {
  position: relative;
  background-color: black;
  height: 535px;
}

.main-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  background-image: url("../images/bg-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 535px;
  width: 100%;
  background-position: center;
}
.main-color {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 96px;
  line-height: 115.2px;
  font-weight: 900;
}

.breadcrumb-item > a,
.breadcrumb-item > span {
  text-decoration: none;
  font-family: sans-serif;
  color: #dd1e4b;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #8e8e8e;
}

.breadcrumb {
  margin-top: 2rem;
}

.advertisement-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.advertisement-btn {
  background-color: #dd1e4a;
  border-radius: 5px;
  margin-top: -3px;
}

.section-header-animation {
  height: 7px;
  width: 4rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}

.card {
  background-color: white;
  color: #8e8e8e;
  padding: 2rem;
  border-radius: 0%;
  width: 360px;
  border: none;
  margin-top: 2rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.card-description {
  color: #8e8e8e;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: Poppins, sans-serif;
}

.card:hover {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  transform: translateY(-7.5px);
  transition: 0.7 s ease-in-out;
  transition: 0.5s ease-in-out;

}

.card:hover > .card-body {
  color: white;
  transition: 0.5s ease-in-out;
}

.card:hover > .card-decoration {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  height: 15.5rem;
  width: 22.3rem;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.card:hover > .card-decoration-2 {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  opacity: 0.5;
  margin-top: -1.2rem;
  margin-left: -1.2rem;
  height: 16.3rem;
  width: 22.3rem;
  transition: 0.5s ease-in-out;
}

.card-decoration {
  position: absolute;
  height: 8rem;
  width: 12rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  z-index: -9999;
  margin-top: -43px;
  margin-left: -43px;
}

.card-decoration-2 {
  position: absolute;
  height: 8.5rem;
  width: 12.3rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  z-index: -9999;
  margin-top: 105px;
  margin-left: 140px;
}

.card:hover >.card-description,.card:hover >.card-heading,.card:hover >.card-icon{
  color: white;
  transition: 0.5s ease-in-out;

}

.card-heading {
  color: black;
}

.card-icon{
  margin-left: 8rem;
}

@media (max-width: 768px) {
  .advertisement {
    margin: 5rem 2rem;
  }

  .main-image {
    height: 270px;
  }

  .main-color {
    font-size: 64px;
  }

  .main-content {
    padding: 3rem;
  }

  .breadcrumb {
    margin-top: 0.5rem;
  }

  .divider {
    margin-top: -3.8rem;
    height: 6rem;
  }

  .card-decoration,
  .card-decoration-2 {
    display: none;
  }
}

@media (max-width: 576px) {
  .cards {
    width: 370px;
    margin-left: 2rem;
  }
  .main-image {
    width: 100%;
  }
  .main-color {
    font-size: 56px;
  }

  .divider {
    height: 5rem;
  }

  .advertisement-btn {
    margin: 0%;
    margin-top: 10px;
    margin-right: 90px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 0%;
  }
}

@media (max-width: 1440px) {
  section {
    padding: 0rem 1.5rem;
  }
}
