.footer-description {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 29.6px;
  color: #6f6f6f;
  font-weight: 400;
}

.footer-list {
  margin-top: 2.5rem;
}

.footer-list > .list-group-item {
  font-size: 18px;
  line-height: 29.6px;
  color: #6f6f6f;
  font-weight: 400;
}

.footer-list > .list-group-item:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-list > .list-group-item:hover > svg {
  cursor: pointer;
  color: #dd1e4b;
}

.footer-first-list > .list-group-item > svg {
  color: #dd1e4b;
}

.footer-first-list > .list-group-item > i {
  cursor: pointer;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.footer-btn {
  border: 3px solid #dd1e4b;
  background-color: transparent;
  color: white;
}

.footer-btn:hover {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}

.footer-fourth-sec-btn {
  background-color: transparent;
  color: #6f6f6f;
  border: 1px solid #6f6f6f;
  border-radius: 3px;
}

.footer-fourth-sec-btn:hover {
  color: #dd1e4b;
  border: 1px solid #dd1e4b;
}

.list-group-horizontal {
  margin-left: 0.3rem;
}

@media (max-width: 768px) {
  .list-group-horizontal {
    margin-left: 15rem;
  }

  .footer-sections {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .list-group-horizontal {
    margin-left: 4rem;
  }

  .footer-sections {
    margin-top: 2rem;
  }
}
