.mobile-main-menu {
  background-color: #191919;
}

.nav-link {
  cursor: pointer;
}

.main-link:hover > .dropdown {
  display: block;
}

.main-link:hover > .child-dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  margin-left: -20px;
  display: none;
  background-color: #191919;
  list-style: none;
}

.child-dropdown {
  position: absolute;
  margin-top: -40px;
  margin-left: 150px;
  display: none;
  background-color: #191919;
  list-style: none;
}

.dropdown-item {
  color: #838482;
}

.dropdown-item:hover {
  color: #e0040b;
  background-color: transparent;
}

.mobile-nav {
  display: none;
}

.nav-btn:hover {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  transition: 0.7s ease-in-out;
}

.main-menu {
  margin-left: 16rem;
}

#nav {
  background-color: transparent;
  position: absolute;
  z-index: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
    margin: 0%;
  }

  .desktop-nav {
    display: none;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav-link {
    margin: 0%;
  }

  .nav-link i,
  .social-icons {
    display: none;
  }

  .main-menu {
    margin-left: 8rem;
    justify-content: center;
  }

  .main-menu > div > button {
    margin-left: 10px;
  }
}
