.text-custom {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin-top {
  margin-top: 5rem;
}

.main-title {
  color: #e0040b;
}

.nav-btn,
.advertisement-btn {
  padding: 8px 25px;
  border: 3px solid #e0040b;
  background-color: #dd1e4b;
  border-radius: 3px;
}

.divider {
  height: 7rem;
  width: 5px;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  margin-top: 6rem;
}

section {
  padding: 0rem 3.5rem;
}

.navbar {
  z-index: 9999;
}

.main-content {
  position: relative;
  padding-top: 10rem;
}

.main {
  position: relative;
  background-color: black;
  height: 535px;
}

.main-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  background-image: url("../images/bg-9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 535px;
  width: 100%;
  background-position: center;
}
.main-color {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 96px;
  line-height: 115.2px;
  font-weight: 900;
}

.breadcrumb-item > a,
.breadcrumb-item > span {
  text-decoration: none;
  font-family: sans-serif;
  color: #dd1e4b;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #8e8e8e;
}

.breadcrumb {
  margin-top: 2rem;
}

.pricing-title {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 600;
  color: #2f323a;
}

.pricing-description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #6f6f6f;
  margin-top: 1.5rem;
}

.pricing-card {
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
  background-color: white;
}

.card {
  background-color: white;
  width: 356px;
  border-radius: 2px;
  transition: 0.5s;
}
.card:hover {
  color: white;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  cursor: pointer;
  margin-top: -0.5rem;
  transition: 0.5s;
}
.card:hover i {
  color: #fff;
}
.card:hover .btn-view {
  color: #fff;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}
.card:hover .list-group-item {
  color: #fff;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}
.card-body {
  font-family: sans-serif;
  padding: 2rem;
}
.card-body h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  margin: 0px 0px 24px 0px;
}
.card-body i {
  font-size: 40px;
  color: #dd1e4b;
  margin-bottom: 15px;
}
.list-group-item i {
  font-size: 16px;
  color: #8e8e8e;
}
.list-group-item {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #8e8e8e;
  /* margin: 2.5px 0px; */
}
.btn-chose-plan {
  padding: 8px 25px;
}

.btn-buynow {
  font-family: sans-serif;
  position: relative;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 0;
  z-index: 2;
  transition: 0.3s;
  border: 2px solid #dd1e4b;
  color: white;
  background-color: #dd1e4b;
}
.btn-buynow:hover {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  transition: 0.3s;
}
.btn-view {
  font-family: sans-serif;
  padding: 0px 100px;
  margin: 0px 0px 25px 0px;
  font-size: 35px;
  font-weight: 400;
  line-height: 63px;
  text-transform: uppercase;
  border-radius: 40px;
  z-index: 2;
  transition: 0.3s;
  border: 2px solid #dbdbdb;
  color: #dd1e4b;
  background-color: #fff;
}
.btn-view:hover {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}
@media (max-width: 768px) {
  .advertisement {
    margin: 5rem 2rem;
  }

  .main-image {
    height: 270px;
  }

  .main-color {
    font-size: 64px;
  }

  .main-content {
    padding: 3rem;
  }

  .breadcrumb {
    margin-top: 0.5rem;
  }

  .divider {
    margin-top: -3.8rem;
    height: 6rem;
  }

  .card {
    width: auto;
  }
  .card-featured-3 {
    margin: -3.5rem 0rem 0rem 6.7rem;
  }
  .pricing {
    margin: 5rem 0rem;
  }
  .pricing h2 {
    font-size: 40px;
  }
  .pricing p {
    font-size: 18px;
  }
  .list-group-item {
    margin: 0%;
  }

  .services {
    height: 277px;
  }
  .services-data {
    padding: 3rem 0rem;
  }

  .btn-view {
    padding: 0px 80px;
  }
}

@media (max-width: 576px) {
  .cards {
    width: 370px;
    margin-left: 2rem;
  }
  .main-image {
    width: 100%;
  }
  .main-color {
    font-size: 56px;
  }

  .divider {
    height: 5rem;
  }

  .card {
    margin-top: 1.5rem;
    width: 100%;
  }
  .card-body {
    padding: 1.5rem;
  }
  .card-featured {
    display: none;
  }
  .services {
    height: 277px;
  }
  .services-data {
    padding: 3rem 0rem;
  }
  .services-data h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 0%;
  }
}

@media (max-width: 1440px) {
  section {
    padding: 0rem 1.5rem;
  }
}
