.text-custom {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin-top {
  margin-top: 5rem;
}

.main-title {
  color: #e0040b;
}

.nav-btn,
.advertisement-btn {
  padding: 8px 25px;
  border: 3px solid #e0040b;
  background-color: #dd1e4b;
  border-radius: 3px;
}

.divider {
  height: 7rem;
  width: 5px;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  margin-top: 6rem;
}

section {
  padding: 0rem 3.5rem;
}

.navbar {
  z-index: 9999;
}

.main-content {
  padding-top: 10rem;
}

.main-image {
  background-image: url("../images/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 535px;
  width: 100%;
  background-position: center;
}
.main-color {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 96px;
  line-height: 115.2px;
  font-weight: 900;
}

.breadcrumb-item > a,
.breadcrumb-item > span {
  text-decoration: none;
  font-family: sans-serif;
  color: #dd1e4b;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #8e8e8e;
}

.breadcrumb {
  margin-top: 2rem;
}

.section-header-animation {
  height: 7px;
  width: 4rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}

.content-section {
  margin-top: 7rem;
}

.content-description,
.content-section > ul > li {
  font-size: 18px;
  margin-bottom: 2rem;
  line-height: 24px;
  color: #6f6f6f;
  font-weight: 400;
}

.content-title {
  font-size: 48px;
  line-height: 56.6px;
  font-weight: 600;
}

.list-group-item {
  padding: 2rem 0rem;
  font-size: 19.2px;
  background-color: transparent;
  line-height: 23.4px;
  font-weight: 600;
}

ul {
  margin-left: -1rem;
}

.content-second-section {
  margin-left: 5rem;
}

.institutional-video-section {
  padding: 0rem 12rem;
}

.institutional-video-img {
  background-image: url("../images/news-4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.75;
  height: 434px;
  width: 941px;
}

.institutional-video-img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.play-icon {
  font-size: 100px;
  color: #dd1e4b;
  margin-top: 9.3rem;
  margin-left: -5rem;
  z-index: 9999;
}

@media (max-width: 768px) {
  .advertisement {
    margin: 5rem 2rem;
  }

  .main-image {
    height: 270px;
  }

  .main-color {
    font-size: 64px;
  }

  .main-content {
    padding: 3rem;
  }

  .breadcrumb {
    margin-top: 0.5rem;
  }

  .divider {
    margin-top: -3.8rem;
    height: 6rem;
  }

  .section-header-animation {
    display: none;
  }

  .content-second-section,
  .content-section {
    margin: 0rem 1rem;
    margin-top: 3rem;
  }

  .institutional-video-section {
    padding: 0%;
  }

  .institutional-video-img {
    height: 314px;
    width: 716px;
    margin-left: -0.5rem;
  }

  .play-icon {
    margin: 4.5rem -1rem 0rem -4.3rem;
  }
}

@media (max-width: 576px) {
  .section-header-animation {
    display: none;
  }

  .main-image {
    width: 100%;
  }

  .content-section {
    margin: 2.5rem 0.3rem;
  }

  .card {
    width: 25rem;
  }

  .main-color {
    font-size: 56px;
  }

  .divider {
    height: 5rem;
  }

  .content-second-section {
    margin: 0rem 0.3rem;
  }

  .institutional-video-section {
    padding: 0%;
  }

  .institutional-video-img {
    height: 164px;
    width: 376px;
    margin-left: -0.5rem;
  }

  .play-icon {
    margin: 0.5rem -1rem 0rem -4.3rem;
  }
}

@media (max-width: 1024px) {
  ul {
    margin: 0%;
  }

  .card {
    width: 14rem;
    padding: 1.5rem 0.2rem;
  }

  section {
    padding: 0%;
  }

  br {
    display: none;
  }

  .institutional-video-section {
    padding: 0%;
  }

  .institutional-video-img {
    height: 403px;
    width: 960px;
    margin-left: -0.5rem;
  }

  .play-icon {
    margin: 7.5rem -1rem 0rem -4.3rem;
  }
}

@media (max-width: 1440px) {
  section {
    padding: 0rem 1.5rem;
  }
}
