/* background-image: linear-gradient(45deg,#e0040b 15%,#dd1e4b 65%); */

.text-custom {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin-top {
  margin-top: 5rem;
}

.main-title {
  color: #e0040b;
}

.mobile-nav {
  display: none;
}

.nav-btn,
.advertisement-btn {
  padding: 8px 25px;
  border: 3px solid #e0040b;
  background-color: transparent;
}

.nav-btn:hover {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  transition: 0.7s ease-in-out;
}

section {
  padding: 0rem 3.5rem;
}

.main-color {
  margin-top: 5rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 96px;
  line-height: 115.2px;
  font-weight: 900;
}

.main-description {
  color: #8e8e8e;
  letter-spacing: 0.5px;
  font-size: 21.2px;
  line-height: 28.8px;
  font-weight: 400;
}

.main-second-part {
  margin-left: 25px;
  background-image: url("../images/hero-8.jpg");
  background-size: 80% 100%;
  background-repeat: no-repeat;
  height: 610px;
  width: 30px;
}

.divider {
  height: 7rem;
  width: 5px;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  margin-top: -30px;
}

.card-description {
  color: #8e8e8e;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: Poppins, sans-serif;
}


.section-header-animation {
  height: 7px;
  width: 4rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}

.heading {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 600;
}

.advertisement-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.divider::before {
  /* content: "-------------------------------------------------------------------------------------------------------------------------"; */
}

.advertisement-btn {
  background-color: #dd1e4a;
  border-radius: 5px;
  margin-top: -3px;
}

.card {
  background-color: #191919;
  color: #8e8e8e;
  padding: 2rem;
  border-radius: 0%;
  width: 360px;
  margin-top: 2rem;
}

.advertisement-body {
}

.card:hover {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  transform: translateY(-7.5px);
  transition: 0.7 s ease-in-out;
}

.card:hover > .card-body {
  color: white;
  transition: 0.5s ease-in-out;
}

.card:hover > .card-decoration {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  height: 25.5rem;
  width: 22.3rem;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.card:hover > .card-decoration-2 {
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  opacity: 0.5;
  margin-top: -1.2rem;
  margin-left: -1.2rem;
  height: 25.5rem;
  width: 22.3rem;
  transition: 0.5s ease-in-out;
}

.card-decoration {
  position: absolute;
  height: 14rem;
  width: 12rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  z-index: -9999;
  margin-top: -43px;
  margin-left: -43px;
}

.card-decoration-2 {
  position: absolute;
  height: 14rem;
  width: 12rem;
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  z-index: -9999;
  margin-top: 163px;
  margin-left: 143px;
}

.slider-header-discription {
  color: #8e8e8e;
  margin-top: 50px;
  font-size: 16px;
  line-height: 24px;
}

.testimonials-heading {
  margin-top: 2rem;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

/* 
video > source{
  z-index: -9999;
  height: 54px;
  margin-top: -70px;
} */

/*------------------------------------tablet-------------------------------------*/
@media (max-width: 768px) {
  .advertisement {
    margin: 0rem 2rem;
  }

  .card-decoration,
  .card-decoration-2 {
    display: none;
  }

  .card {
    width: 350px;
  }

  .row {
    margin: 0rem 1rem;
  }

  .main-color {
    margin-top: 5rem;
    background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    line-height: 76.8px;
    font-weight: 900;
  }

  br {
    display: none;
  }

  .last-card {
    margin-left: 10rem;
  }

  .testimonials {
    margin: 0rem 2rem;
  }

  .testimonials-heading {
    margin-top: 2rem;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }

  .slider-header-discription {
    font-size: 16px;
    line-height: 24px;
  }
}

/*------------------------------------mobile-------------------------------------*/

@media (max-width: 576px) {
  .main-second-part {
    margin-top: 1rem;
    z-index: -9999;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 610px;
    width: 240px;
  }

  .main-text {
    text-align: center;
  }

  .main-color {
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 900;
  }

  .main-description {
    line-height: 21.2px;
    font-size: 18.2px;
  }

  .divider {
    margin-top: 0%;
  }
  .card-description {
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Poppins, sans-serif;
  }

  br {
    display: none;
  }

  .section-header-animation {
    display: none;
  }

  .last-card {
    margin-left: 0rem;
  }

  /* .advertisement-description { */
  /* text-align: center; */
  /* } */

  .heading {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
  }

  .advertisement-btn {
    margin: 0%;
    margin-top: 10px;
    margin-right: 90px;
    margin-top: 30px;
  }

  .testimonials-heading {
    margin-top: 2rem;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
}

/*------------------------------------tablet(large)-------------------------------------*/

@media (max-width: 1024px) {
  section {
    padding: 0%;
  }

  .nav-link i,
  .social-icons {
    display: none;
  }

  .main-menu {
    justify-content: center;
  }

  .main-menu > div > button {
    margin-left: 10px;
  }

  br {
    display: none;
  }
}
