@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

.section {
  padding: 0rem 6.6rem;
}

.section1 {
  padding: 3rem 6rem;
}

header {
  background-color: #292a2f;
}

.lan-select {
  float: left;
  gap: 0.5rem;
  color: #fff;
  list-style: none;
  display: flex;
}

.lan-select > li,
.right-link > li {
  cursor: pointer;
  color: #c4c4c4;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 0rem;
  padding: 0.68rem 0.6rem;
}

.lan-select li i {
  font-size: 12px;
  margin-left: 0.3rem;
}

.dropdown {
  display: none;
  padding: 0.5rem;
  background-color: #fff;
  position: absolute;
  list-style: none;
  margin-left: -1rem;
  width: 8rem;
  margin-top: 0.8rem;
  box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
}

.dropdown > li {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  color: #292930;
  font-size: 14px;
  line-height: 23.8px;
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  border-radius: 4px;
  margin-bottom: 0.2rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.dropdown > li:hover {
  color: #fff;
  transition: 0.5s;
  background-color: #ff497c;
}

.lan-select > li:hover {
  color: #fff;
}

.lan-select > li:hover .dropdown {
  display: block;
}

.right-link {
  color: #fff;
  margin-left: 57rem;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.right-link > li:hover {
  transition: 0.5s;
  color: #3577f0;
}

.nav-grid {
  justify-content: center;
  padding: 0.5rem 0rem;
  display: flex;
  grid-template-columns: 14.35rem auto;
}

.nav-grid > img {
  margin-top: 10px;
  width: 9.813rem;
  height: 2.5rem;
}

.search-btn {
  margin-top: 10px;
  outline:none;
  margin-left: -5rem;
  height: 2.7rem;
  float: left;
  width: 2rem;
  background-color: #fff;
  border: 1px solid #ebebeb;
  cursor: pointer;
  border-right: none;
  padding: 0rem 1.3rem;
  border-radius: 6px 0px 0px 6px;
}

::placeholder {
  font-family: "DM Sans", sans-serif;
  color: #b6b5b5;
  font-size: 14px;
  font-weight: 500;
}

.menus input {
  margin-left: -2.5rem;
  margin-top: 10px;
  padding: 0rem 0.3rem;
  height: 2.7rem;
  outline:none;
  font-family: "DM Sans", sans-serif;
  color: #c5c5c5;
  font-size: 14px;
  font-weight: 500;
  width: 12.5rem;
  float: left;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-left: none;
  border-radius: 0px 6px 6px 0px;
}

.main-menu {
  list-style: none;
  margin-right: 7rem;
  display: flex;
  float: left;
  margin-left: 1rem;
}

.main-menu > li {
  cursor: pointer;
  color: #403a3c;
  font-size: 14px;
  line-height: 27.2px;
  padding: 1.1rem 1rem 0.9rem 1.7rem;
  font-weight: 800;
  font-family: "DM Sans", sans-serif;
}

.main-menu > li > a {
  position: relative;
}

.main-menu > li > a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  content: "";
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scale(0);
  transform-origin: left;
  transition: all 0.5s ease-in-out 0s;
}

.main-menu > li:hover a {
  color: #000;
}

.main-menu > li :hover a::after {
  visibility: visible;
  transition: 0.3s;
  background-color: #000;
  transform: scaleX(1);
}

.main-menu > :first-child > a::before {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  content: "";
  left: 0;
  background-color: #000;
  visibility: visible;
  transform: scale(1);
  transform-origin: left;
  transition: all 0.5s ease-in-out 0s;
}

.main-menu > li > i {
  color: #c5c5c5;
  margin-left: 2px;
}

.icon-menu {
  list-style: none;
  display: flex;
  padding: 0.5rem 0rem;
}

.icon-menu li i {
  font-size: 18px;
  border-radius: 50%;
  color: #000;
  margin-left: 0.3rem;
  text-align: center;
  padding: 0.8rem 0.8rem;
}

.icon-menu li i:hover {
  color: #fff;
  background-color: #ff497c;
  transition: 0.5s;
}

.main-menu li:hover .main-menu-dropdown {
  display: block;
  transition: 0.5s;
}

.main-menu li:hover .main-menu-dropdown1 {
  display: block;
  transition: 0.5s;
}

.main-menu-dropdown {
  display: none;
  padding: 0.8rem 0rem;
  background-color: #fff;
  position: absolute;
  list-style: none;
  margin-left: -3rem;
  border-radius: 5px;
  margin-top: 0.9rem;
  box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
}

.main-menu-dropdown1 {
  display: none;
  padding: 0.8rem 0rem;
  background-color: #fff;
  position: absolute;
  list-style: none;
  /* margin-left: -3rem; */
  border-radius: 5px;
  margin-top: 0.5rem;
  box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
}

.main-menu-dropdown > li,
.main-menu-dropdown1 > li {
  margin-bottom: 0.5rem;
}

.main-menu-dropdown > li > a,
.main-menu-dropdown1 > li > a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 0.8rem;
  color: #403a3c;
  font-size: 14px;
  line-height: 27.2px;
  font-weight: 800;
  font-family: "DM Sans", sans-serif;
  padding: 0.3rem 5rem 0.3rem 1.5rem;
}

.main-menu-dropdown li a:hover,
.main-menu-dropdown1 li a:hover {
  color: #ff497c;
  transition: 0.5s;
}

.advertise {
  background-image: url("../../Images/campaign-bg3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 2rem;
  padding: 1rem;
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.advertise p {
  margin-top: 1.5rem;
  /* padding: 1rem 1rem; */
  margin: 0rem 4rem;
  color: #fff;
  font-size: 16px;
  line-height: 27.2px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.advertise p a {
  color: #fff;
  font-size: 16px;
  line-height: 27.2px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.advertise i {
  font-size: 18px;
  color: #fff;
  margin-top: 0.5rem;
}

.table-details {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.table-title {
  color: #292930;
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}

table {
  margin-top: 2rem;
}

th {
  color: #292930;
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  background-color: #f6f7fb;
  padding: 1rem 0rem;
  border: none;
}

tr td {
  padding: 0.8rem;
  color: #777;
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.product-name {
  padding-left: 3rem;
  cursor: pointer;
  width: 18rem;
  color: #000;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  font-family: "DM Sans", sans-serif;
}

tr {
  border: none;
  border-bottom: 1px solid #777;
}

.product-name:hover {
  color: #3577f0;
}

tr td button {
  font-size: 20px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  outline:none;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: #f6f7fb;
}

tr td button:hover {
  border: 2px solid #3577f0;
}

tr td img {
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
}

.product-price,
.product-stock {
  padding-left: 2rem;
  width: 10rem;
  font-weight: 500;
}

.table-button {
  color: #292930;
  font-size: 14px;
  line-height: 34px;
  font-weight: 700;
  transition: 0.4s ease-in-out;
  font-family: "DM Sans", sans-serif;
  height: 3rem;
  width: 7rem;
  background-color: #fff;
  border: 2px solid #e7e7e8;
  border-radius: 5px;
}

.table-button:hover {
  background-color: #3577f0;
  color: #fff;
}

.services-section {
  margin-top: 1rem;
  padding: 2rem 7rem 0rem 7rem;
  display: flex;
  justify-content: center;
}

.services-grid {
  display: grid;
  margin-left: 2rem;
  justify-content: center;
  grid-template-columns: 17.188rem 17.188rem 17.188rem 17.188rem;
  gap: 1rem;
}

.card-icon img {
  height: 2.5rem;
  float: left;
  margin-right: 1rem;
}

.card-title {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.8px;
}

.card-text {
  margin-top: 1rem;
  color: #636363;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.8px;
}

footer {
  margin-top: -1rem;
  padding: 2rem 7rem 0rem 7rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer-grid {
  display: grid;
  margin-top: 0rem;
  margin-bottom: 2rem;
  grid-template-columns: 17.875rem 17.875rem 17.875rem 17.875rem;
}

.footer-title {
  margin-bottom: 1.5rem;
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.8px;
}

.footer-text {
  color: #636363;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}

.footer-part ul {
  list-style: none;
}

.footer-part ul li a {
  color: #636363;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  line-height: 27.2px;
}

.footer-part ul li {
  color: #636363;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  line-height: 27.2px;
  margin-bottom: 0.7rem;
}

.footer-part ul li a:hover {
  color: #000;
}

.footer-part ul li:hover {
  color: #000;
}

.footer-part ul li i {
  margin-right: 10px;
}

.qr {
  margin-top: 1rem;
  float: left;
}

.app-download {
  margin-top: 1rem;
}

.app-download img {
  margin-left: 1rem;
  margin-bottom: 0.7rem;
}

.copyright {
  margin-top: 1rem;
  padding: 2rem 7rem;
  display: flex;
  justify-content: center;
}

.copyright ul {
  margin-top: -2rem;
  list-style: none;
  display: flex;
}

.footer-part > ul > li a {
  position: relative;
}

.footer-part > ul > li a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  content: "";
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scale(0);
  transform-origin: left;
  transition: all 0.5s ease-in-out 0s;
}

.footer-part > ul > li:hover a {
  color: #000;
}

.footer-part > ul > li:hover a::after {
  visibility: visible;
  transition: 0.3s;
  background-color: #000;
  transform: scaleX(1);
}

.social-media li {
  color: #777;
  margin: 0rem 0.3rem;
  padding: 0.5rem;
}

.social-media li:hover {
  background-color: #ff497c;
  border-radius: 50%;
  color: #fff;
  transition: 0.4s;
}

.social-media {
  float: left;
}

.copyright-text {
  color: #636363;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 13rem;
  margin-top: -1.5rem;
  float: left;
}

.payment-method {
  color: #636363;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 20rem;
  margin-left: 55rem;
}

.payment-method li {
  margin-left: 1rem;
}

.payment-method li img {
  height: 1.3rem;
}

.seprator > hr{
  background-color: #c5c5c5;
  border: none;
  height: 1px;
}