@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto+Mono&display=swap');

.title{
    font-family: 'Nunito', sans-serif; 
}

#toast-warning{
    visibility: hidden;
}

#toast-interactive{
    visibility: hidden;
}
